@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Gothic+A1&family=Lato&family=Montserrat:wght@300&family=Poppins&family=Roboto:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
body {
  font-family: "Poppins", sans-serif;
}

.header {
  background: #181818;
  width: 100%;
  height: 5.625rem;
  display: flex;
  justify-content: center;

  &__container {
    width: 60%;
    height: 5.625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__navbar {
    width: 48%;
    display: flex;
    align-items: center;
  }

  &__navbar p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 1.25rem;
    /* identical to box height, or 154% */

    color: #ffffff;
    padding-right: 3.5rem;
  }

  &__button {
    width: 9.688rem;
    height: 2.625rem;
    background-color: #ffffff;
    border-radius: 0.875rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.25rem;
    /* identical to box height, or 125% */
    cursor: pointer;
    letter-spacing: 0.025rem;
  }

  &__active:hover {
    opacity: 0.8;
  }
}

.studio {
  background: url(../assets/BackgroundHeader.png) center 0 no-repeat;
  background-size: 100% 100%;
  object-fit: contain;
  display: flex;
  justify-content: center;

  &__content {
    width: 37.5rem;
    height: 13.063rem;
    margin-top: 38%;
  }

  &__content > p:first-child {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: 0.125rem;
    text-transform: uppercase;

    color: #c0c0c0;
  }

  &__content h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 3.375rem;
    line-height: 3.688rem;
    /* identical to box height, or 110% */

    text-align: center;

    color: #ffffff;
  }

  &__content > p:last-child {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* or 143% */

    text-align: center;
    color: #c0c0c0;
  }
}

.camera {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  &__container {
    width: 18.422rem;
    height: 1rem;
    display: flex;
    margin-top: -3.125rem;
  }

  &__card {
    color: #ffff;
    display: flex;
    padding-right: 0.438rem;
    align-items: center;
  }

  &__card p {
    padding-left: 0.375rem;
  }
}

.menu-btn {
  display: none;
}

@media screen and(max-width:980px) {
  .header__navbar {
    display: none;
  }

  .header__container {
    justify-content: space-around;
  }
  .menu-btn {
    display: block;
  }
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.burger_into {
  text-align: center;
}

.burger_into a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.burger_into a:hover {
  opacity: 0.6;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #000000;
  transform: translateX(-100%);
  transition: transform 0.5s;
  overflow: hidden;
}
.menu.active {
  transform: translateX(0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li {
  list-style-type: none;
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

@media screen and(max-width:560px) {
  .studio__content > p:last-child {
    font-size: 12px;
  }
}

@media screen and(max-width:490px) {
  .studio__content > p:last-child {
    font-size: 10px;
  }

  .studio__content h1 {
    font-size: 2.375rem;
  }
}

@media screen and(max-width:400px) {
  .studio__content > p:last-child {
    font-size: 8px;
  }

  .studio__content h1 {
    font-size: 2.375rem;
  }
}

@media screen and(max-width:400px) {
  .studio__content > p:last-child {
    font-size: 7px;
  }
}

.image {
  background-color: #000000;
  display: flex;
  justify-content: center;

  &__text > h2 {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.625rem;

    text-align: center;

    color: #ffffff;
  }

  &__items:last-child {
    margin-bottom: 6.25rem;
  }

  &__text > p {
    font-weight: 400;
    font-size: 1.438rem;
    line-height: 1.875rem;
    /* identical to box height, or 130% */

    text-align: center;

    color: #c0c0c0;
  }

  &__container {
    width: 100%;
    height: 100%;
    margin-top: 7.063rem;
  }

  &__container__text {
    display: flex;
    justify-content: center;
  }

  &__main {
    color: white;
    width: 28rem;

    margin-top: -12.25rem;
    margin-left: 1.875rem;
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 2.625rem;
    margin-left: 1rem;
  }
  &__main h2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* or 143% */
    padding-bottom: 1.875rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;

    color: #ffffff;
  }

  &__p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* or 143% */
    height: 5rem;
    color: #c0c0c0;
  }

  &__main button {
    width: 8.938rem;
    height: 2.625rem;
    background-color: white;
    border-radius: 0.875rem;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 1.25rem;
    /* identical to box height, or 133% */
    margin-top: 0.313rem;
    letter-spacing: 0.025rem;

    color: #000000;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and(max-width:540px) {
  .image__main button {
    margin-top: 1.25rem;
  }
}

@media screen and(max-width:406px) {
  .image__main button {
    margin-top: 2.5rem;
    width: 6.25rem;
    height: 1.875rem;
    margin-top: 3.75rem;
    margin-left: 8.75rem;
  }
}

@media screen and(max-width:542px) {
  .image__img {
    width: 25rem;
  }

  .image__main {
    width: 24rem;
  }
}

@media screen and(max-width:410px) {
  .image__img {
    width: 18.938rem;
  }

  .image__main {
    width: 17rem;
    margin-top: -14.375rem;
  }
}

.mountains {
  background: url(../assets/bg-mountains.png) center 0 no-repeat;
  background-size: 100%;

  &__second {
    background: url(../assets/bg-list.png) center 0 no-repeat;
    background-size: 100% 100%;
    margin-top: -5.1px;
  }

  &__third {
    background: url(../assets/bg-sky.png) center 0 no-repeat;
    background-size: 100% 100%;
  }

  &__container {
    position: relative;
    width: 300px;
    height: 600px;
    left: 70%;
    display: flex;
    align-items: center;
  }

  &__title > h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ffffff;
  }

  &__title > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    color: #c0c0c0;
  }
}

@media screen and(max-width:1430px) {
  .mountains__container {
    height: 300px;
  }
}

@media screen and(max-width:992px) {
  .mountains__container {
    height: 300px;
    width: 300px;
    left: 50%;
  }
}

@media screen and(max-width:702px) {
  .mountains__container {
    height: 250px;
    width: 250px;
    left: 40%;
  }
}

@media screen and(max-width:560px) {
  .mountains__container {
    height: 200px;
    width: 200px;
    left: 40%;
  }
}

@media screen and(max-width:444px) {
  .mountains__container {
    height: 180px;
    width: 200px;
    left: 30%;
  }
}

@media screen and(max-width:320px) {
  .mountains__container {
    height: 130px;
    width: 200px;
    left: 20%;
    top: 1rem;
  }

  .camera__container{
    margin-top: -2.125rem;
  }
 

  .mountains__title {
    margin-top: -60px;
  }

  .mountains__title > h2 {
    font-size: 10px;
  }

  .mountains__title > p {
    font-size: 10px;
  }
}

.cage {
  width: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__containerFirst {
    width: 45rem;
    height: 33.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    color: white;
    max-width: 31rem;
    min-width: 13rem;
    height: 19.625rem;
  }

  &__content::first-line {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    /* identical to box height, or 143% */

    letter-spacing: 0.125rem;
    text-transform: uppercase;

    color: #c0c0c0;
    padding-bottom: 0.375rem;
  }

  &__content h2 {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2rem;
    /* identical to box height, or 114% */

    color: #ffffff;
  }

  &__content p {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;

    color: #ffffff;
    padding-top: 0.875rem;
  }

  &__content button {
    width: 152px;
    height: 42px;
    border-radius: 0.875rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: 0.025rem;

    color: #000000;
    margin-top: 1.813rem;
  }

  &__containerSecond {
    width: 45rem;
  }

  &__item {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.clients {
  background-color: #000000;
  display: flex;
  justify-content: center;
  padding-bottom: 12.5rem;

  h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 105%;
    color: #ffffff;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 125%;
    color: #c0c0c0;
  }

  button {
    width: 9.625rem;
    height: 2.625rem;
    border-radius: 0.875rem;
    margin-top: 1.375rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    /* identical to box height, or 125% */

    text-align: center;
    letter-spacing: 0.025rem;

    color: #000000;
  }

  &__container {
    width: 75rem;
    height: 17.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

  &__maintitle {
    width: 37.5rem;
    height: 5.125rem;
  }

  &__maintitle {
    text-align: center;
  }

  &__logos {
    width: 73rem;

    display: flex;
    align-items: center;

    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and(max-width:1024px) {
  .clients__container {
    width: 57rem;
  }
}

@media screen and(max-width:768px) {
  .clients__container {
    width: 48rem;
  }
}

@media screen and(max-width:425px) {
  .clients__container {
    width: 19rem;
  }
}

.footer {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__content {
    width: 73rem;
  }

  &__containertext {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 2.25rem;
    flex-wrap: wrap;
  }

  &__subscribe {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8.25rem;
    align-items: center;
    border-top: 0.063rem solid white;
    border-bottom: 0.063rem solid white;
    flex-wrap: wrap;
  }

  &__button > button {
    width: 28.625rem;
    height: 3.25rem;
    border-radius: 0.75rem;
    background: #f9fafb;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    /* identical to box height, or 125% */

    text-align: center;
    letter-spacing: 0.025rem;

    color: #000000;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.5rem;
  }

  &__aperature > img {
    padding-bottom: 1.25rem;
  }

  &__aperature p {
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 1.25rem;
    /* identical to box height, or 154% */

    color: #c0c0c0;
  }
}

.footer h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* identical to box height, or 143% */

  letter-spacing: 0.125rem;
  text-transform: uppercase;

  color: #c0c0c0;
  padding-bottom: 0.625rem;
}

.footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* identical to box height, or 143% */
  padding-bottom: 0.625rem;

  color: #ffffff;
}

@media screen and(max-width:425px) {
  .footer__button > button {
    width: 25.625rem;
  }

  .footer__subscribe {
    justify-content: center;
  }
}

@media screen and(max-width:375px) {
  .footer__button > button {
    width: 22.625rem;
  }
}

@media screen and(max-width:320px) {
  .footer__button > button {
    width: 16.625rem;
  }
}

@media screen and(max-width:425px) {
  .footer__icons {
    display: flex;
    flex-direction: column;
  }
}
