@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=DM+Mono&family=Gothic+A1&family=Lato&family=Montserrat:wght@300&family=Poppins&family=Roboto:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background: #181818;
  width: 100%;
  height: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__container {
  width: 60%;
  height: 5.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__navbar {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__navbar p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.25rem;
  /* identical to box height, or 154% */
  color: #ffffff;
  padding-right: 3.5rem;
}
.header__button {
  width: 9.688rem;
  height: 2.625rem;
  background-color: #ffffff;
  border-radius: 0.875rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.25rem;
  /* identical to box height, or 125% */
  cursor: pointer;
  letter-spacing: 0.025rem;
}
.header__active:hover {
  opacity: 0.8;
}

.studio {
  background: url(../assets/BackgroundHeader.png) center 0 no-repeat;
  background-size: 100% 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.studio__content {
  width: 37.5rem;
  height: 13.063rem;
  margin-top: 38%;
}
.studio__content > p:first-child {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* identical to box height, or 143% */
  text-align: center;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #c0c0c0;
}
.studio__content h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 3.375rem;
  line-height: 3.688rem;
  /* identical to box height, or 110% */
  text-align: center;
  color: #ffffff;
}
.studio__content > p:last-child {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* or 143% */
  text-align: center;
  color: #c0c0c0;
}

.camera {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.camera__container {
  width: 18.422rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -3.125rem;
}
.camera__card {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0.438rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.camera__card p {
  padding-left: 0.375rem;
}

.menu-btn {
  display: none;
}

@media screen and (max-width: 980px) {
  .header__navbar {
    display: none;
  }

  .header__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .menu-btn {
    display: block;
  }
}
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.burger_into {
  text-align: center;
}

.burger_into a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.burger_into a:hover {
  opacity: 0.6;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #000000;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  overflow: hidden;
}

.menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  list-style-type: none;
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

@media screen and (max-width: 560px) {
  .studio__content > p:last-child {
    font-size: 12px;
  }
}
@media screen and (max-width: 490px) {
  .studio__content > p:last-child {
    font-size: 10px;
  }

  .studio__content h1 {
    font-size: 2.375rem;
  }
}
@media screen and (max-width: 400px) {
  .studio__content > p:last-child {
    font-size: 8px;
  }

  .studio__content h1 {
    font-size: 2.375rem;
  }
}
@media screen and (max-width: 400px) {
  .studio__content > p:last-child {
    font-size: 7px;
  }
}
.image {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.image__text > h2 {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.625rem;
  text-align: center;
  color: #ffffff;
}
.image__items:last-child {
  margin-bottom: 6.25rem;
}
.image__text > p {
  font-weight: 400;
  font-size: 1.438rem;
  line-height: 1.875rem;
  /* identical to box height, or 130% */
  text-align: center;
  color: #c0c0c0;
}
.image__container {
  width: 100%;
  height: 100%;
  margin-top: 7.063rem;
}
.image__container__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.image__main {
  color: white;
  width: 28rem;
  margin-top: -12.25rem;
  margin-left: 1.875rem;
}
.image__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.image__item {
  margin-top: 2.625rem;
  margin-left: 1rem;
}
.image__main h2 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* or 143% */
  padding-bottom: 1.875rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #ffffff;
}
.image__p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* or 143% */
  height: 5rem;
  color: #c0c0c0;
}
.image__main button {
  width: 8.938rem;
  height: 2.625rem;
  background-color: white;
  border-radius: 0.875rem;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 1.25rem;
  /* identical to box height, or 133% */
  margin-top: 0.313rem;
  letter-spacing: 0.025rem;
  color: #000000;
}
.image__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 540px) {
  .image__main button {
    margin-top: 1.25rem;
  }
}
@media screen and (max-width: 406px) {
  .image__main button {
    margin-top: 2.5rem;
    width: 6.25rem;
    height: 1.875rem;
    margin-top: 3.75rem;
    margin-left: 8.75rem;
  }
}
@media screen and (max-width: 542px) {
  .image__img {
    width: 25rem;
  }

  .image__main {
    width: 24rem;
  }
}
@media screen and (max-width: 410px) {
  .image__img {
    width: 18.938rem;
  }

  .image__main {
    width: 17rem;
    margin-top: -14.375rem;
  }
}
.mountains {
  background: url(../assets/bg-mountains.png) center 0 no-repeat;
  background-size: 100%;
}
.mountains__second {
  background: url(../assets/bg-list.png) center 0 no-repeat;
  background-size: 100% 100%;
  margin-top: -5.1px;
}
.mountains__third {
  background: url(../assets/bg-sky.png) center 0 no-repeat;
  background-size: 100% 100%;
}
.mountains__container {
  position: relative;
  width: 300px;
  height: 600px;
  left: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mountains__title > h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.mountains__title > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */
  color: #c0c0c0;
}

@media screen and (max-width: 1430px) {
  .mountains__container {
    height: 300px;
  }
}
@media screen and (max-width: 992px) {
  .mountains__container {
    height: 300px;
    width: 300px;
    left: 50%;
  }
}
@media screen and (max-width: 702px) {
  .mountains__container {
    height: 250px;
    width: 250px;
    left: 40%;
  }
}
@media screen and (max-width: 560px) {
  .mountains__container {
    height: 200px;
    width: 200px;
    left: 40%;
  }
}
@media screen and (max-width: 444px) {
  .mountains__container {
    height: 180px;
    width: 200px;
    left: 30%;
  }
}
@media screen and (max-width: 320px) {
  .mountains__container {
    height: 130px;
    width: 200px;
    left: 20%;
    top: 1rem;
  }

  .camera__container {
    margin-top: -2.125rem;
  }

  .mountains__title {
    margin-top: -60px;
  }

  .mountains__title > h2 {
    font-size: 10px;
  }

  .mountains__title > p {
    font-size: 10px;
  }
}
.cage {
  width: 100%;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cage__containerFirst {
  width: 45rem;
  height: 33.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cage__content {
  color: white;
  max-width: 31rem;
  min-width: 13rem;
  height: 19.625rem;
}
.cage__content::first-line {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* identical to box height, or 143% */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #c0c0c0;
  padding-bottom: 0.375rem;
}
.cage__content h2 {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2rem;
  /* identical to box height, or 114% */
  color: #ffffff;
}
.cage__content p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: #ffffff;
  padding-top: 0.875rem;
}
.cage__content button {
  width: 152px;
  height: 42px;
  border-radius: 0.875rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.025rem;
  color: #000000;
  margin-top: 1.813rem;
}
.cage__containerSecond {
  width: 45rem;
}
.cage__item {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.clients {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 12.5rem;
}
.clients h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 105%;
  color: #ffffff;
}
.clients p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 125%;
  color: #c0c0c0;
}
.clients button {
  width: 9.625rem;
  height: 2.625rem;
  border-radius: 0.875rem;
  margin-top: 1.375rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: 0.025rem;
  color: #000000;
}
.clients__container {
  width: 75rem;
  height: 17.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients__maintitle {
  width: 37.5rem;
  height: 5.125rem;
}
.clients__maintitle {
  text-align: center;
}
.clients__logos {
  width: 73rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .clients__container {
    width: 57rem;
  }
}
@media screen and (max-width: 768px) {
  .clients__container {
    width: 48rem;
  }
}
@media screen and (max-width: 425px) {
  .clients__container {
    width: 19rem;
  }
}
.footer {
  background-color: #000000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__content {
  width: 73rem;
}
.footer__containertext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 2.25rem;
  flex-wrap: wrap;
}
.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 8.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 0.063rem solid white;
  border-bottom: 0.063rem solid white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__button > button {
  width: 28.625rem;
  height: 3.25rem;
  border-radius: 0.75rem;
  background: #f9fafb;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  /* identical to box height, or 125% */
  text-align: center;
  letter-spacing: 0.025rem;
  color: #000000;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.5rem;
}
.footer__aperature > img {
  padding-bottom: 1.25rem;
}
.footer__aperature p {
  font-weight: 400;
  font-size: 0.813rem;
  line-height: 1.25rem;
  /* identical to box height, or 154% */
  color: #c0c0c0;
}

.footer h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* identical to box height, or 143% */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #c0c0c0;
  padding-bottom: 0.625rem;
}

.footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  /* identical to box height, or 143% */
  padding-bottom: 0.625rem;
  color: #ffffff;
}

@media screen and (max-width: 425px) {
  .footer__button > button {
    width: 25.625rem;
  }

  .footer__subscribe {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 375px) {
  .footer__button > button {
    width: 22.625rem;
  }
}
@media screen and (max-width: 320px) {
  .footer__button > button {
    width: 16.625rem;
  }
}
@media screen and (max-width: 425px) {
  .footer__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}